.mydiv {
    width: 25px;
    height: 25px;
    background-color:yellow;
    margin:1px;
    display: inline-block;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


